<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Твой Склад</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/favicon.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link type="text/css" href="../static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link type="text/css" href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link type="text/css" href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link type="text/css" href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link type="text/css" href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link type="text/css" href="../static/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link type="text/css" href="../static/css/main.css" rel="stylesheet">

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="/" class="logo d-flex align-items-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="assets/img/logo.png" alt=""> -->
      <h1>Твой Склад</h1>
    </a>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    <nav id="navbar" class="navbar">
      <ul>
          <li><a href="/chat" class="active">Чат</a></li>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/warehouse/warehouse-index">Склад</a></li>
        <li class="dropdown"><a href="/product/"><span>Товар</span> <i
                class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="/product/product-form">Добавить товар</a></li>
          </ul>
        </li>
        <li class="dropdown"><a href="/"><span>Анализ закупок</span> <i
                class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="/order/chart">Объём закупки</a></li>
            <li><a href="/abc-analysis">АВС-анализ</a></li>
            <li><a href="/order/bar-cost">Доходность</a></li>
          </ul>
        </li>
        <li><a href="/order/">Заказ</a></li>
        <li><a href="/login">Вход</a></li>
        <li><a class="get-a-quote" href="/user-info">Личный кабинет</a></li>
      </ul>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">
  <div class="container">
    <div class="row gy-4 d-flex justify-content-between">
      <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h2 data-aos="fade-up">Ваш надежный партнер для оперативной работы на складе</h2>
        <p data-aos="fade-up" data-aos-delay="100">Склад - это место, где хаос преобразуется в гармонию, а эффективность становится стандартом</p>



        <div class="row gy-4" data-aos="fade-up" data-aos-delay="400">

          <div class="col-lg-3 col-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p>Клиентов</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p>Складов</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter"></span>
              <p>Партнёров</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-6">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1" class="purecounter"></span>
              <p>Работников</p>
            </div>
          </div><!-- End Stats Item -->

        </div>
      </div>

      <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
        <img src="../static/img/hero-img.svg" class="img-fluid mb-3 mb-lg-0" alt="">
      </div>

    </div>
  </div>
</section><!-- End Hero Section -->

<main id="main">

  <!-- ======= Featured Services Section ======= -->
  <section id="featured-services" class="featured-services">
    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up">
          <div class="icon flex-shrink-0"><i class="fa-solid fa-cart-flatbed"></i></div>
          <div>
            <h4 class="title">Сохраним</h4>
            <p class="description">С нами вы можете быть уверены, что ваш товар будет сохранен надежно. Мы применяем передовые системы хранения и строгое соблюдение процедур, чтобы обеспечить безопасность и целостность всех товаров, доверенных нам.</p>
            <a href="service-details.html" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
          <div class="icon flex-shrink-0"><i class="fa-solid fa-truck"></i></div>
          <div>
            <h4 class="title">Доставим</h4>
            <p class="description">
              Мы гарантируем надежную доставку вашего товара. Наша команда профессионалов заботится о каждой</p>
            <a href="service-details.html" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
          <div class="icon flex-shrink-0"><i class="fa-solid fa-truck-ramp-box"></i></div>
          <div>
            <h4 class="title">Упакуем</h4>
            <p class="description">Мы профессионально упакуем ваш товар с максимальной бережностью. Наша команда опытных специалистов знает, как обеспечить безопасную и надежную упаковку, чтобы ваш товар был защищен от повреждений во время транспортировки.</p>
            <a href="service-details.html" class="readmore stretched-link"><span>Learn More</span><i class="bi bi-arrow-right"></i></a>
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>
  </section><!-- End Featured Services Section -->

  <!-- ======= About Us Section ======= -->
  <section id="about" class="about pt-0">
    <div class="container" data-aos="fade-up">

      <div class="row gy-4">
        <div class="col-lg-6 position-relative align-self-start order-lg-last order-first">
          <img src="../static/img/about.jpg" class="img-fluid" alt="">
          <a href="https://www.youtube.com/watch?v=O_qHRbakbCE" class="glightbox play-btn"></a>
        </div>
        <div class="col-lg-6 content order-last  order-lg-first">
          <h3>О нас</h3>
          <p>
          </p>
          Наша компания - ведущий игрок в своей отрасли, предлагающий
          высококачественные продукты и услуги. Мы гордимся нашей репутацией
          надежного партнера, способного удовлетворить самые взыскательные потребности
          наших клиентов.
          <ul>
            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-diagram-3"></i>
              <div>
                <h5>Доступность</h5>
                <p>Мы стремимся обеспечить удобные каналы коммуникации и оперативное реагирование на запросы и потребности наших клиентов.</p>
              </div>
            </li>
            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-fullscreen-exit"></i>
              <div>
                <h5>Надёжность</h5>
                <p>Наша компания гарантирует качество и надежность наших продуктов и услуг, чтобы наши клиенты могли полностью полагаться на нас в своих деловых и личных потребностях.</p>
              </div>
            </li>
            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-broadcast"></i>
              <div>
                <h5>Связь с клиентами</h5>
                <p>Мы уделяем особое внимание связям с нашими клиентами, стремясь поддерживать прозрачное и доверительное взаимодействие на каждом этапе сотрудничества.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

  <!-- ======= Services Section ======= -->
  <section id="service" class="services pt-0">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <span>Наши Услуги</span>
        <h2>Наши Услуги</h2>

      </div>

      <div class="row gy-4">

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="card align-items-center">
            <div class="card-img">
              <img src="../static/img/storage-service.jpg" alt="" class="img-fluid">
            </div>
            <h3><a href="service-details.html" class="stretched-link ">Склад</a></h3>
          </div>
        </div><!-- End Card Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="card align-items-center">
            <div class="card-img">
              <img src="../static/img/logistics-service.jpg" alt="" class="img-fluid">
            </div>
            <h3><a href="service-details.html" class="stretched-link">Подумаем</a></h3>
          </div>
        </div><!-- End Card Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="card align-items-center">
            <div class="card-img">
              <img src="../static/img/cargo-service.jpg" alt="" class="img-fluid">
            </div>
            <h3><a href="service-details.html" class="stretched-link">Спрячем</a></h3>
          </div>
        </div><!-- End Card Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
          <div class="card align-items-center">
            <div class="card-img">
              <img src="../static/img/trucking-service.jpg" alt="" class="img-fluid">
            </div>
            <h3><a href="service-details.html" class="stretched-link">Довезём</a></h3>
          </div>
        </div><!-- End Card Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="card align-items-center">
            <div class="card-img">
              <img src="../static/img/packaging-service.jpg" alt="" class="img-fluid">
            </div>
            <h3><a href="service-details.html" class="stretched-link">Упакуем</a></h3>
          </div>
        </div><!-- End Card Item -->

        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
          <div class="card align-items-center">
            <div class="card-img">
              <img src="../static/img/warehousing-service.jpg" alt="" class="img-fluid">
            </div>
            <h3><a href="service-details.html" class="stretched-link">Храним</a></h3>
          </div>
        </div><!-- End Card Item -->

      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Call To Action Section ======= -->
  <section id="call-to-action" class="call-to-action">
    <div class="container" data-aos="zoom-out">

      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h3>Свяжитесь и мы поможем</h3>
          <a class="cta-btn" href="#">Связаться</a>
        </div>
      </div>

    </div>
  </section><!-- End Call To Action Section -->


  <!-- ======= Frequently Asked Questions Section ======= -->
  <section id="faq" class="faq">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <span>Часто задаваемые вопросы</span>
        <h2>Часто задаваемые вопросы</h2>

      </div>

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="200">
        <div class="col-lg-10">

          <div class="accordion accordion-flush" id="faqlist">

            <div class="accordion-item">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                  <i class="bi bi-question-circle question-icon"></i>
                  Как сохранить склад?
                </button>
              </h3>
              <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                <div class="accordion-body">
                  В шапке приложения  нажмите: Склад->Добавить Склад.
                </div>
              </div>
            </div><!-- # Faq item-->

            <div class="accordion-item">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                  <i class="bi bi-question-circle question-icon"></i>
                  Как добавить товар?
                </button>
              </h3>
              <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                <div class="accordion-body">
                  Для добавления товара есть 2 варианта:<br>
                  1) В шапке приложения  нажмите: Склад-> Добавить товар.<br>
                  2) В шапке приложения  нажмите: Заказ-> Выберите поставщика -> Выберите товар -> Оплатить.
                </div>
              </div>
            </div><!-- # Faq item-->

            <div class="accordion-item">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                  <i class="bi bi-question-circle question-icon"></i>
                  Как сообщать сотрудникам информацию внутри приложения?
                </button>
              </h3>
              <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                <div class="accordion-body">
                  В шапке приложения  нажмите: Чат-> Приложение автоматически заполнит вашу информацию -> Приятного общения.
                </div>
              </div>
            </div><!-- # Faq item-->

            <div class="accordion-item">
              <h3 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                  <i class="bi bi-question-circle question-icon"></i>
                  Как оприходывать купленный товар?
                </button>
              </h3>
              <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                <div class="accordion-body">
                  <i class="bi bi-question-circle question-icon"></i>
                  В шапке приложения  нажмите: Склад-> Информация склада -> Информация ячейки.
                </div>
              </div>
            </div><!-- # Faq item-->
          </div>

        </div>
      </div>

    </div>
  </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-5 col-md-12 footer-info">
        <a href="index.html" class="logo d-flex align-items-center">
          <span>Твой Склад</span>
        </a>
        <p>Наша компания придает огромное значение нашим покупателям, поскольку мы осознаем, что они являются ключевым фактором нашего успеха.</p>
        <div class="social-links d-flex mt-4">
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Важные ссылки</h4>
        <ul>
          <li><a href="/">Главная страница</a></li>
          <li><a href="/order/">Заказ</a></li>
          <li><a href="/order/chart">Объём закупки</a></li>
          <li><a href="/order/bar-cost">Доходность</a></li>
          <li><a href="/chat">Чат</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Полезные сервисык</h4>
        <ul>
          <li><a href="#">Твой Погрузчик</a></li>
          <li><a href="#">Твой Доставщик</a></li>
          <li><a href="#">WaterWays</a></li>
          <li><a href="#">Бай квили</a></li>
          <li><a href="#">Занято</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
        <h4>Contact Us</h4>
        <p>
          A108 Adam Street <br>
          New York, NY 535022<br>
          United States <br><br>
          <strong>Phone:</strong> +1 5589 55488 55<br>
          <strong>Email:</strong> info@example.com<br>
        </p>

      </div>

    </div>
  </div>
</footer><!-- End Footer -->
<!-- End Footer -->

<a href="" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../static/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="../static/vendor/glightbox/js/glightbox.min.js"></script>
<script src="../static/vendor/swiper/swiper-bundle.min.js"></script>
<script src="../static/vendor/aos/aos.js"></script>
<script src="../static/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="../static/js/main.js"></script>

</body>

</html>